.header {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 80px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #c7c7c7;;
}

.link {
    text-decoration: none;
}

.header h1 {
    color: #f85555;
}

.header_nav_list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 3rem;
    list-style: none;
    color: #f85555;
}

.header_nav_link {
    color: inherit;
}

.header_nav_link--active {
    color: orange;
}

.header_nav_btn {
    font-size: inherit;
    background-color: transparent;
    border: none;
}

