.link {
    text-decoration: none;
}

.product-cart {
    width: 300px;
    height: 400px;
    margin-top: 2opx;
    margin-bottom: 30px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.product-cart_header {
    display: flex;
    flex-direction: column;
}

.product-cart_container-img {
    position: relative;
    height: 20rem;
}

.product-cart_img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 20rem;
    object-fit: contain;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in;
    
}

.product-cart_container-img--hidden {
    opacity: 0;
}

.product-cart_container-img--visible {
    opacity: 1;
}

.product-cart_container-img:hover img.product-cart_container-img--hidden {
    opacity: 1;
}

.product-cart_container-img:hover img.product-cart_container-img--visible {
    opacity: 0;
}

.product-cart_paragraph {
    font-size: 20px;
    color: #949393;
}

.product-title {
    font-size: 20px;
    color: #515151;
}

.product-cart_btn {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background-color: #f85555;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}


